body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
}
h2 {
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: space space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-color: #10555a;
  margin-bottom: 10px;

  &-logo {
    width: 80%;
  }

  &-logo a {
    color: #fff;
    text-decoration: none;
  }

  &-search {
    float: right !important;
    width: 20%;
    input[type="search"] {
      padding: 6px;
      border: none;
    }

    input[type="submit"] {
      float: right;
      padding: 6px 10px;
      border: none;
      cursor: pointer;
    }
  }
}


.wrapper {
  padding: 0 1rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 2rem;

  &-card {
    text-decoration: none;
    color: rgb(10, 10, 10);
    background-color: #fff;
    padding: 20px;
    transition: ease 0.85s;

    &:hover {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.25);
    }
  }
}

.article {
  background-color: #FFF;
  max-width: 1300px;
  margin: 0 auto;
  pad: 2rem;
}
