<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- article.title.rendered %> - Node.js News</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://googleapis.com/css2?family=Source+Sans+Pro&display=swap"
    />
  </head>
  <body>
    <header class="header">
      
      <div class="header-logo">
          <a href="/" title="Node.js News Home">Node.JS News</a>
      </div>
      
    </header>

    <div class="wrapper">
      <div class="article">
        <% if (article != null) { %>
            <div class="news-card">
                <h2><%- article.title.rendered %></h2>

                <p><%- article.content.rendered %></p>
            </div>
        <% } else { %>
            <h4>
                <div class="news-card" style="text-align: center;">
                    <h4>Article not found.</h4>
                </div>
            </h4>
        <% } %> 
      </div>
    </div>
  </body>
</html>
