<div class="header-search">
  <form action="." method="POST">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search"
      required
    />
    <input type="submit" value="Search" />
  </form>
</div>